body {
    background-color: #FFCC99;
}

h1 {
    text-align: center;
    font-family: "delaney", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
}

h4 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
}

.homepage {
    font-family: "delaney", sans-serif;

}
.homepage a {
    color: #c93680;
}

.homepage a:hover {
    color:#FF99CC
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
}
.nav a {
    color: #c93680;
}
.nav a:hover {
    color:#FF99CC
}

.section {
    flex: 1;
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

.hours {
    color: #c93680;
}