body {
    background-color: #FFCC99;
}

h1 {
    text-align: center;
    font-family: "delaney", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}
h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
}
h3 {
    font-family: Verdana, Geneva, sans-serif;
}
p {
    font-family: Verdana, Geneva, sans-serif;
}


.homepage {
    font-family: "delaney", sans-serif;

}
.homepage a {
    color: #c93680;
}

.homepage a:hover {
    color:#FF99CC
}


.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
}
.container a {
    color: #c93680;
}
.container a:hover {
    color:#FF99CC
}


.product1 {
    background-color: #FF99CC;
    padding: 20px;
    margin: 20px
}

.section {
    flex: 1;
    text-align: center;
    padding: 20px;
    font-size: 35px;
}
.product2 {
    background-color: #FF99CC;
    padding: 20px;
    margin: 20px;
}