body {
    background-color: #FFCC99;
}
h1 {
    text-align: center;
    font-family: "delaney", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}

.homepage {
    font-family: "delaney", sans-serif;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.section {
    flex: 1;
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

.specials-container {
    display: flex;
    justify-content: space-between;
    background-color: #FF99CC; 
    padding: 20px; 
}

.image-box {
    flex: 0 0 calc(16.666% - 20px); /* Adjust the width as needed */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

.apple {
    background-color: aliceblue; 
}

.blueberry {
    background-color: aliceblue; 
}

.fruitnut {
    background-color: aliceblue;
}

.scone {
    background-color: aliceblue;
}

.pie {
    background-color: aliceblue;
}

.cookies {
    background-color: aliceblue;
}

.events-container {
    background-color: #FF99CC;
    display: flex;
    justify-content: center;
    width: 900px;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0px auto;
    margin-top: 60px;

}

.events-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.events-container > p {
    align-self: flex-end;
}
